*{
    margin: 0;
    padding: 0;
}
:root{
    --white-broke: #d1d1d1;
    --font-size-text: 30px;
}
#consentBox {
   background: var(--white-broke) ;
   padding: 20px;
   border-radius: 15px;
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
   text-align: center;
   position: fixed;
   bottom: 20px;
   margin-left: 9%;
   width: 80%;
   z-index: 2;
   
}



#consentBox.hide {
   opacity: 0;
   pointer-events: none;
   transform: scale(0.8);
   transition: all 0.3s ease;
}

::selection {
   color: #fff;
   background: #229a0f;
}

#consentContent p {
   color: black;
   margin: 10px 0 20px 0;
   width: 90%;
   padding-left: 5%;
   padding-right: 5%;
   
}

#consentContent .buttons {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 20px;
}

.consentButton,
.rejectButton {
   padding: 12px 30px;
   border: none;
   outline: none;
   color: black;
   font-size: 16px;
   font-weight: 500;
   border-radius: 5px;
   cursor: pointer;
   transition: all 0.3s ease;
}

.consentButton {
   background: #ffffff;
   margin-right: 10px;
   border: 2px solid black;
}

.rejectButton {
   color: #111211;
   background: transparent;
   border: 2px solid white;
   text-decoration: none;
}

#consentBox img {
   max-width: 150px;
}

#consentHeader {
   font-size: 25px;
   font-weight: 600;
   margin-top: 10px;
}
#consentBox.hidden {
   display: none;
}

.form form input,
.form form textarea,
.form form button {
   display: block;
   width: 100%;
   margin-bottom: 20px; 
   padding: 10px;
   box-sizing: border-box;
}



@font-face {
  font-family: 'Alumni Sans SC';
  src: url('fonts/AlumniSansSC-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EBGaramond';
  src: url('fonts/EBGaramond-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

main{
   background: #808080;
background: radial-gradient(circle, rgba(128, 128, 128, 1) 96%, rgba(52, 150, 30, 1) 100%);
    color: #333;
    font-family: 'Alumni Sans SC', sans-serif;
}

header.cabecera{
    background: #c2bebe;
    background: radial-gradient(circle, rgba(194, 190, 190, 1) 72%, rgba(133, 133, 133, 0.83) 100%);
    color: var(--white-broke);
    padding: 16px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    position: relative;
}
.title{
    font-size: var(--font-size-text);
    font-weight: 600;
    letter-spacing: 1px;
    color: #272727;
    
}

.burguer-menu{
    font-size: 28px;
    color: var(--white-broke);
    text-decoration: none;
    display: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.burguer-menu:hover{
    transform: scale(1.1);
}

.menu-principal{
    display: flex;
    gap: 24px;
}

.menu-principal a{
    color: #292929;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 14px;
    border-radius: 6px;
    transition: background 0.6s , color 0.6s ;
    transition: transform 0.3s ease;
    font-weight: bold;
}

.menu-principal a:hover{
    background-color: #797979;
    color: var(--white-broke);
     transform: scale(1.1);
}





.foto {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-principal{
    
    
    border-radius: 100px;
    box-shadow:
    0 8px 20px rgba(74, 168, 87, 0.9),   /* sombra verde */
    0 4px 10px rgba(102, 102, 102, 0.6); /* sombra gris */
  border: 3px solid white; /* opcional para hacer contraste */
    width: 500px;
    
}



.la-cuina-de-sanblas{
    padding-top: 4%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


}

.la-cuina-texto{
    display: flex;
    flex-direction: column;
    
    
    width: 60%;
    align-items: center;
    justify-content:center;
    font-size: var(--font-size-text);
    color: rgb(199, 199, 199);
    text-align: center;
    
    flex-wrap: wrap;
    
}

.la-cuina-de-sanblas img {
    border-radius: 100px;
    box-shadow:
    0 8px 20px rgba(74, 168, 87, 0.9),   /* sombra verde */
    0 4px 10px rgba(102, 102, 102, 0.6); /* sombra gris */
  border: 3px solid var(--white-broke); /* opcional para hacer contraste */
  width: 400px;
}

h2{
    padding-top: 10%;
    text-align: center;
    font-size: 46px;
}

.mas-que-burguer{
    padding: 10%;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


}

.mas-que-burguer-texto{
    display: flex;
    flex-direction: column;
    
    width: 60%;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-text);
    color: rgb(199, 199, 199);
    text-align: center;
    
}

.mas-que-burguer img {
    border-radius: 100px;
    box-shadow:
    0 8px 20px rgba(74, 168, 87, 0.9),   /* sombra verde */
    0 4px 10px rgba(102, 102, 102, 0.6); /* sombra gris */
    border: 3px solid var(--white-broke); /* opcional para hacer contraste */
    width: 400px;
}

.rima-consulting{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


}

.rima-consulting-texto{
    display: flex;
    flex-direction: column;
    
    width: 60%;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-text);
    color: rgb(199, 199, 199);
    text-align: center;
    
}

.rima-consulting img {
    border-radius: 100px;
    box-shadow:
    0 8px 20px rgba(74, 168, 87, 0.9),   /* sombra verde */
    0 4px 10px rgba(102, 102, 102, 0.6); /* sombra gris */
    border: 3px solid var(--white-broke); /* opcional para hacer contraste */
    width: 400px;
    
}

.cv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3{
    text-align: center;
    padding-top: 5%;
    font-size: 46px;
}
.cv p{
    padding-top: 50px;
    font-size: var(--font-size-text);
    color: rgb(199, 199, 199);
    width: 50%;
    text-align: center;
    
}

.sobre-mi{
    padding-top: 90px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 5%;


}

.sobre-mi-texto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-text);
    color: rgb(199, 199, 199);
    text-align: center;
    padding-right: 2%;
    
}

.sobre-mi img {
    border-radius: 100px;
    box-shadow:
    0 8px 20px rgba(74, 168, 87, 0.9),   /* sombra verde */
    0 4px 10px rgba(102, 102, 102, 0.6); /* sombra gris */
    border: 3px solid white; /* opcional para hacer contraste */
    width: 400px;
    
}
.sobre-mi-h3{
    padding-top: 90px;
}

footer{
    background-color: #333;
    color:rgb(199, 199, 199); 
    padding: 4%;
    font-family: 'EBGaramond', sans-serif;
}

.contacto{
    padding-top: 1%;
}
.copyright{
    padding-top: 3%;
    display: flex;
    justify-content: space-between;
}
.logo-footer{
    width: 150px;
}

.caja-logo{
    display: flex;
    justify-content: space-between;
    
}

    .logo-politica img{
        width: 400px;
        
    }
@media (max-width: 741px){
    .logo-politica img{
        width: 300px;
        
    }
    .logo-footer{
    width: 90px;
}
    .burguer-menu{
        display: block;
    }
    .menu-principal{
        display: none;
        flex-direction: column;
        gap: 12px;
        background: #c2bebe;
        background: radial-gradient(circle, rgba(194, 190, 190, 1) 72%, rgba(133, 133, 133, 0.83) 100%);
        align-items: center;
        position: absolute;
        top:100%;
        right: 0;
        left: 0;
        padding: 15px 20px;
        box-shadow: 0 6px 10px rgba(0,0,0,0.2);
        z-index: 100;
        font-weight: bold;
    }
    .menu-principal.menu-desplegado{
        display: flex;
    }

    .menu-principal a{
        padding: 10px 12px;
        font-size: 17px;
    }
    
    .burguer-menu{
        color: #272727;
    }
    .foto-principal{
        width: 350px;
    } .la-cuina-de-sanblas img, .mas-que-burguer img, .rima-consulting img{
        width: 300px;
    } .sobre-mi img{
        width: 300px;
        height: 400px;
    } .la-cuina-texto, .mas-que-burguer-texto, .rima-consulting-texto{
        width: 300px;
        
        
    } h3 {
        font-size: 32px;
    } p {
        font-size: 24px;
    } .cv p{
        padding-left: 6px;
        padding-right: 6px;
        width: auto;
        font-size: 24px;
    }  .sobre-mi {
        
        width: auto;
        padding: 2%;
        padding-bottom: 5%;
    }.sobre-mi-texto{
        width: auto;
        padding-bottom: 5%;
    } .contacto p{
        font-size: 18px;
        
    } .copyright p{
        font-size: 18px;
    }
    }
    
   
    .politica p{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
        font-size: var(--font-size-text);
        padding: 1%;
        color: var(--white-broke);
    }
    
    .logo-politica{
        display: flex;
        justify-content: center;
    }
    

    a{
        text-decoration: none;
        color: var(--white-broke);
    }


